{% extends "team.html" %}

{% block page_title %}Account — Gameday Stats{% endblock %}

{% block head_extra %}{% endblock %}

{% block top_level_name %}Account{% endblock %}

{% block secondary_nav_links %}
{% include "_account_secondary_nav.html" %}
{% endblock %}

{% block content %}
<h1>
Account
</h1>

<p>
You can manage your account in this section.
</p>

<h3>
Manage your account
</h3>
<ul>
<li><a href="{{ url_for('main.account_profile') }}">View my profile</a>
<br>
- Edit your email address and name.</li>

    <li><a href="{{ url_for('main.account_password') }}">Change my password</a>
    <br>
    - We recommend you change your password periodically.</li>

</ul>
{% endblock %}
